.no-padding{
	padding: 0px ! important;
}

.padding{
	padding-top: 3px;
}

.extra-padding{
	padding-top: 5px;
}

.circle{
	border-radius: 50%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.text{
	font-size: 1.15em;
}

.text, li{
	font-size: 1.15em;
}

.large-portfolio-image{
	max-width: 1250px;
}

.carousel-caption{
	color: #323232;
}

.library-caption{
	color: #FFFFFF;
}