<div class="row form-group">	
	<div class="col-sm-4">
	    <a class="wrapper-portfolio" href="index.php?content=flex#portfolio">
	        <img class="img-responsive" src="assets/images/flex/thumbnail.png" alt="portfolio-flex">
	        <h3 class="category">Web Development</h3>
	    </a>
	</div>

	<div class="col-sm-4">
	    <a class="wrapper-portfolio" href="index.php?content=cbel#portfolio">
	        <img class="img-responsive" src="assets/images/cbel/home.png" alt="portfolio-visualizer">
	        <h3 class="category">Project Management</h3>
	    </a>
	</div>

	<div class="col-sm-4">
	    <a class="wrapper-portfolio" href="index.php?content=visualizer#portfolio">
	        <img class="img-responsive" src="assets/images/visualizer/flowers.png" alt="portfolio-visualizer">
	        <h3 class="category">Java</h3>
	    </a>
	</div>
</div>

<br />

<div class="row form-group">
	<div class="col-sm-4 col-md-offset-4">
	    <a class="wrapper-portfolio" href="index.php?content=library#portfolio">
	        <img class="img-responsive" src="assets/images/library/library.png" alt="portfolio-visualizer">
	        <h3 class="category">Java + SQL</h3>
	    </a>
	</div>
</div>